<div id="block-awesomefeatures" class="block">
  
    
  <div class="block-content">
    {% for row in rows %}
        <div class="field field--name-body field--type-text-with-summary field--label-hidden field-item"><div class="items">
<div>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_aboutus_image }}'] }}</div>
<!-- /item --><div>
<div class="text-center">
<h2>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h2>
<p>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}</p>
<a class="button" href="#">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button }}'] }}</a>
</div>
</div>
<!-- /item --></div>
</div>
{% endfor %}
</div><!--/block-content -->
</div>